
<div class="card hovercard card border-primary mb-2" style="background-color: #ffffff">
  <div class="cardheader"></div>
  <div class="avatar">
    <img alt="" src="/assets/serhat.jpg" />
  </div>
  <div class="info">
    <div class="title">
      <a class="auto-style5"><span class="bg-white"></span></a><span class="auto-style1"><div class="auto-style5"><span
            class="bg-white">Serhat Halil Silsüpür</span></div></span><span class="auto-style3"> </span>
    </div>
    <div class="desc" style="color: #000000; background-color: #ffffff; width: auto">
      Bilişim Tek.ve Yazılım Öğretmeni
    </div>
    <div style="
        font-family: Sylfaen;
        font-size: 14px;
        text-align: center;
        vertical-align: bottom;
        line-height: 20px;
        margin-top: 20px;
      " class="auto-style5">
      <span class="bg-white">Önemli şeyler bir anda yapılamaz; ufak şeylerin bir araya
        getirilmesiyle oluşur.
      </span>
      <br class="bg-white" />
      <strong><span class="bg-white">Vincent Van Gogh </span></strong>
    </div>
  </div>

  <div class="bottom">
    <a class="btn btn-primary" style="background-color: #55acee" href="https://twitter.com/serhatsilsupur"
      target="_blank" role="button"><i class="fab fa-twitter"></i></a>

      <a class="btn btn-primary" style="background-color: #0082ca"
      href="https://www.linkedin.com/in/serhat-halil-sils%C3%BCp%C3%BCr-294a10a9/" target="_blank" role="button"><i
        class="fab fa-linkedin-in"></i></a>

    <a class="btn btn-primary" style="background-color: #ac2bac" href="https://www.instagram.com/serhaths/"
      target="_blank" role="button"><i class="fab fa-instagram"></i></a>


    <a class="btn btn-primary" target="_blank" style="background-color: #3b5998"
      href="https://www.facebook.com/serhathalil.silsupur" role="button"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>
