



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="footer">
  <ul class="social-network social-circle">
    <li><a class="icoLinkedin" href="https://www.linkedin.com/in/serhat-halil-sils%C3%BCp%C3%BCr-294a10a9/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="icoTwitter" href="https://twitter.com/serhatsilsupur" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a class="icoFacebook" href="https://www.facebook.com/serhathalil.silsupur" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a class="icoInstagram" href="https://www.instagram.com/serhaths/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
    <li><a class="icoGit" href="https://github.com/serhathalil" target="_blank" title="Git"><i class="fa fa-github"></i></a></li>
  </ul>
  <h3 class="copyright text-muted mt-3">© SERHAT HALİL SİLSÜPÜR 2021</h3>
</div>





