<app-page-title [title]="'Hakkımda'"></app-page-title>
<div class="card">
  <div class="card-body">
    <p class="card-text">    <strong>&nbsp;&nbsp;&nbsp; Serhat Halil Silsüpür</strong>, 1990 Ankara&#39;da doğdum. Uludağ Üniversitesi
      bilgisayar ve öğretim teknolojileri öğretmenliği(<strong>Böte</strong>) 2013 mezunuyum. Bir kamu kurumunda web
      uygulama geliştirme danışmanı olacak çalışmaktayım.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bu web sitesini sadece teknoloji alanında sınırlamayıp spor,
      kültür-turizm ve finans alanlarında da paylaşımlar yapmaya çalışacağım. Bloğumda borsa teknik çizimlerini ve
      yükseleceğini düşündüğüm hisseleri yatırım tavsiyesi olmadan sadece eğitim amaçlı paylaşmayı düşünüyorum.
      <br />
      <br />
      &nbsp;&nbsp;&nbsp; Meraklılar için bu web sitesini 2017 yılında .net webforms, ön yüz js jquery şeklinde
      yazmıştım, 2021 Ocak ayında bloğumu .net core + angular altyapısına taşıdım, bu aşamada .net core ve angularda
      kendimi geliştirmiş oldum.
      Böylece bloğum single page application tarzında bir site oldu.
      Admin panelinden; kategoriler, makaleler, yorumlar ve
      duyurular kısmına ekleme, güncelleme, silme işlemleri yaptırılabiliyor. Sayfanın responsive olabilmesi için
      bootstrap css kütüphanesini, hazır componentleri material.angular.io'dan kullandım.&nbsp;&nbsp;
      <br />
      <br />
      &nbsp;&nbsp;&nbsp; Bana ulaşmak isterseniz iletişim sayfasındaki mesaj formundan yazabilir veya e-posta
      gönderebilirsiniz. Mailleri sürekli kontrol ediyorum. Mümkün oldukça kısa sürede dönmeye çalışırım.<br />
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
</div>

<script>

</script>
